body {
    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    text-align: center;
}

p.bold {
    font-weight: bold;
}

/* Header */

header h1 {
    color:white;
}

/* Cards */

#card-container {
    align-items: flex-start;
    display: flex;    
    flex-wrap: wrap;    
    justify-content: space-around;
}

.card {
    background-color: whitesmoke;    
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 black;
    margin-top: 3vh;    
    max-width: 35%;
    padding: 1vw;
}

.card-image {
    margin: 0 2vw;
}

.card-image img {
    border: 1px solid black;
    max-width: 100%;
}

.card-button {    
    margin: 2vh 0;
}

.description-button {
    background-color: dodgerblue;
    border: 1px solid black;    
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.description-button:hover {
    background-color: blue;
}

.card-description {
    margin: 2vh 1vw;
}

.card-description ul {   
    padding-left: 20px;
}

/* Media */

@media screen and (max-width: 1200px) {
    .card {        
        max-width: 90%;
    }
}