body {
    background-color: burlywood;
}

header {
    text-align: center;   
}

#game-container {    
    aspect-ratio: 0.75;
    border: 1px dashed black;
    display: grid;        
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;    
    justify-content: space-evenly;    
    margin: auto;   
    width: 100%;    
}

.card {
    border: 2px solid black;
}

.card-bg-default {
    background-color: lightgray;
}

.card-bg-red {
    background-color: red;
}

.card-bg-green {
    background-color: green;
}

.card-bg-blue {
    background-color: blue;
}

.card-bg-yellow {
    background-color: yellow;
}

.card-bg-pink {
    background-color: pink;
}

.card-bg-orange {
    background-color: orange;
}

.empty-card {
    background-color: none;
    border: none;
}

@media screen and (min-width: 620px){
    #game-container {
        width: 600px;       
    }
}